<h1>Your Current Itinerary</h1>
<% if @trip.present? %>
    <%= Starts At: @trip.starts_at %>
    <%= Ends At: @trip.ends_at %>
    <%= Carrier: @trip.carrier %>
    <%= Starting Location: @trip.starting_location %>
    <%= Ending Location: @trip.ending_location %>
    <%= Confirmation Number: @trip.confirmation_number %>
    <%= Seat Number: @trip.seat_number %>
<% end %>
    
